
body {
    background-color:lightgray;
    font-family:'Muli';
}
.jumbotron {
    background-attachment: fixed;
    background-image: url(Healthcare\ Banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-shadow: 1px 1px 1px black;
}
h1{
    color: black
}
h3{
    color: cornflowerblue;
}
.btn {
    color: black;
}
.table {
    color: cornflowerblue;
}